{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/generic-style.css' %}" rel="stylesheet">
        <link href="{% static 'css/user-payment-style.css' %}" rel="stylesheet">
        <link href="{% static 'css/user-generic-navigation.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>Payment!</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        
        <div class="main-container">

            <div class="navigation">
                <div class="menu-icon-container">
                    <i class="fa-solid fa-bars" id="menuIcon"></i>
                </div>
                <div class="menu-link-container">
                    <a href="{% url 'user_dashboard' %}" class="home-link"><i class="fa-solid fa-house"></i>Home</a> 
                    <a href="{% url 'user_logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                </div>
            </div>

            <div class="center-container">
                <div class="tracking-container">
                    <div class="line-tracker"><div class="line finished-line"></div><div class="line"></div></div>
                    <div class="upload-file-state state finished-state"> <i class="fa-solid fa-check"></i> </div>
                    <div class="payment-state state current-state"><div class="white-circle"></div></div>
                    <div class="printing-status-state state"></div>
                </div>
            </div>
            
            <div class="center-container">
                <div class="tracking-labels-container">
                    <span class="current-state-label">Upload Files</span>
                    <span class="current-state-label">Payment</span>
                    <span>Printing Status</span>
                </div>
            </div>

            <div class="user_folder_no" data-id='{{user_folder_no}}' style="display: none;"></div>

            <div class="center-payment-container">
                <div class="payment-container">
                    <div class="bill-container">
                        <span class="total-txt">Total:</span>
                        <div class="price-center">
                            <span><i class="fa-solid fa-peso-sign"></i></span><span id="price-txt">{{ totalBill }}</span>
                        </div>
                    </div>

                    <div class="awaiting-payment-container" id="awaiting-payment-container">
                        <div class="status-icon-container">
                            <i class="fa-solid fa-clock"></i>
                        </div>
    
                        <p class="awaiting-txt">Awainting Payment...</p>
                        <p class="awaiting-txt">Please pay the right amount at the counter.</p>
                    </div>

                    <div class="paid-payment-container" id="paid-payment-container">
                        <div class="status-icon-container">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <p class="awaiting-txt">PAID!</p>
                        <p class="awaiting-txt">Click ‘Check Status’ to track your printing status</p>
                    </div>

                </div>
            </div>

            <div class="center-check-status-btn" id="checkStatusBtn">
                <div class="check-status-container">
                    <a href="{% url 'user_printing_status' user_folder_no %}" id="">
                        <div class="check-status-btn">
                            <span>Check Status</span> <div class="icon-container"><i class="fa-solid fa-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <script>
            
            $(document).ready(function() {
                // Retrieve the file ID from the data-id attribute
                var user_folder_no = $('.user_folder_no').data('id');
                setInterval(function() {
                    checkPaymentStatus(user_folder_no);
                }, 1000);  // Check every 3 seconds
            });

            function checkPaymentStatus(user_folder_no) {
                $.ajax({
                    url: '/check_payment_status/' + user_folder_no + '/',
                    method: 'GET',
                    success: function(data) {
                        if (data.paid === "true") {
                            $('#awaiting-payment-container').hide();
                            $('#paid-payment-container').show();
                            $('#checkStatusBtn').css('display', 'flex').show();
                        } else {
                            $('#paid-payment-container').hide();
                            $('#awaiting-payment-container').show();
                            $('#checkStatusBtn').hide();
                        }
                    }
                });
            }
                
        </script>
        <script src="{% static 'js/user-menu.js' %}"></script>
    </body>
</html>