{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/generic-style.css' %}" rel="stylesheet">
        <link href="{% static 'css/user-upload-files-style.css' %}" rel="stylesheet">
        <title>Welcome to PrintHub!</title>
        
    </head>

    <body>
        
        <div class="main-container">
            <div class="upload-container">
                <h1>Upload Files</h1>
                <div class="upload-container-content">
                    <form id="uploadForm" action="{%url 'user_upload_files' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="choose-file-btn-display">
                            <span>CHOOSE FILES</span>
                        </div>
                        <input class="choose-file-btn" type="file" name="files" accept=".pdf,.doc,.docx" multiple>
                        <input type="hidden" name="user_folder_no" value="{{ user_folder_no }}">
                    </form>
                </div>
            </div>
        </div>

    </body>
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function() {
            document.getElementById('uploadForm').submit();
        });

        document.querySelector('.choose-file-btn-display').addEventListener('click', function() {
            document.querySelector('input[type="file"]').click();
        });

    </script>

</html>