body {
    background-color: lightblue;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: block;
    width: 900px;
    height: 90vh;
    background-color: rgb(253, 254, 253);
    border: 1px solid #eeeeee;
    border-radius: 25px;
}

.upload-container {
    width: 100%;
    justify-content: center;
}

.upload-container h1 {
    width: 100%;
    text-align: center;
}

.upload-container-content {
    display: flex;
    justify-content: center;
}

.upload-container-content button {
    padding: 18px 30px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background-color: rgb(46, 66, 180);
    color: white;
    border-radius: 6px;
} 

.upload-container-content button i {
    font-size: 21px;
    margin-right: 10px;
    color: white;
}

input[type="file"] {
    display: none;
}

.choose-file-btn-display {
    background-color:#0B6DFF;
    padding: 18px 25px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/*
input[type="file"]::-webkit-file-upload-text {
    visibility: hidden;
}

input[type="file"]::file-selector-button {
    display: none;
}

input[type="file"]::before {
    content: 'Choose Files ';
    color: black;
    display: inline-block;
    background: white;
    border: 1px solid #ccc;
    padding: 25px 40px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="file"]:hover::before {
    border-color: black;
}

input[type="file"]:active::before {
    background-color: #e0e0e0;
}

*/