{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/bootstrap5.css' %}" rel="stylesheet">
        <link href="{% static 'css/main-page-style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <title>PrintHub — Contact Us</title>
    </head>

    <body>
        {% include 'asset-navbar.html' %}        

        <section class="contact">
            <div class="container py-5">
                <div class="row">
                    <h1 class="text-page-heading text-accent mt-5 mb-3">Get in Touch <span class="text-light">With Us</span></h1>
                    <p class="text-light pb-5">We're here to assist you. Reach out to us for purchase, inquiries, support, or to learn more about PrintHub.</p>
                </div>
            </div>
        </section>

        <section class="contact-2">
            <div class="container py-4">
                <div class="row my-5 gx-5">
                    <div class="col-12 col-lg-1"></div>
                    <div class="col-12 col-lg-6">
                        <h3 class="card-title text-heading text-dark pb-4">Online Inquiry</h3>                       
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-dark"><p>Your Name</p></label>
                            <input type="text" class="form-control" placeholder="Enter Your Name">
                        </div>                        
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-dark"><p>Email address</p></label>
                            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label text-dark"><p>Message</p></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your Message Here..." rows="4"></textarea>
                        </div>
                        <div class="pb-2">
                            <a href="..."><button class="btn-accent text-light mt-2" style="width: 100%;">Send Message</button></a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <h3 class="card-title text-heading text-dark pb-4">Contact Details</h3>
                        <p class="fw-normal pb-3">For inquiries or assistance, reach out to us at:</p>
                        <a class="nav-link pb-2 text-accent text-subheading" href="mailto:print.hub@gmail.com"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp; printhub@gmail.com</a>
                        <a class="nav-link pb-2 text-accent text-subheading" href="tel:+0123456789"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp; 01-2345-6789</a>                   
                    </div>
                    <div class="col-12 col-lg-1"></div>
                </div>
            </div>
        </section>

        <section class="footer-div"></section>

        {% include 'asset-footer.html' %}        
    </body>
</html>